@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.accountDisplay {
    border: 5px solid black;
    padding: 1%;
    font-size: 40px;
    margin: 1%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 50px;
    background-color: lightgray;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;


}
p {
    font-weight: 600;
    font-size: 35px;
    margin: 1px;
    color: black;
}

#messHeader{
    font-size: 50px;
}

.newPostt:hover{
    background-image: linear-gradient(to bottom right, #d387ab 50%, #e899dc 50%);

}
#messagesFeed{
    margin:5%;
    background-color: gray;
    height: 600px;
    overflow-y: scroll;
}
#newPost{
    font-size: 35px;
    margin: 5%;
    text-align: center;
    color: black;
    background-image: linear-gradient(to bottom left, #d387ab 50%, #e899dc 50%);
    padding: 3%;

}
.feed {
    font-size: 1.2rem;
    background-color: #FFFFEA;
    border: 3px solid darkgray;
    display: grid;
    margin-bottom: 7px;
    padding: 5px;
}
.feedChild {
    text-align: left;
}

.toMSG {
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    margin: 5px;
    margin-left: 55%;

}

.msg-container{
    font-size: 35px;
}
.fromMSG {
    text-align: right;
    padding: 5px;
    
    padding-right: 10px;
    margin: 5px;
    margin-right: 55%;
}
.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("Images/stock-pastel-bg.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    /* padding-bottom: 30px; */
}
body {
    font-family: 'Lato', sans-serif;
    color: black;
    filter:none;
    background-color: #FFF0FF;
    
  }

  p{
      margin: 10%;
      border: 2px solid black;
      background-image: linear-gradient(to bottom left, cyan 50%, palegoldenrod 50%);
      color: black;
      font-size: 40px;

      padding: 5%;
      border-radius: 10%;
  }

  .createListing {
    background-image: linear-gradient(#913347,#FFF0FF);
    background-size: 100% auto;
    border-radius: 75px; 
    border: 1px solid black; 
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    color: black;
    font-size: 200%;
    font-weight: 600;
  }
.header-title {
    text-align: center;
    margin: 0;
    font-size: 4rem;
    font-family: "Righteous";
    font-weight: normal;
    color: white;
}
.shadow {
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,.8);
  }

.border {
    border-radius: 10px;
    border: 1px solid black;
}
.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    /* border-bottom: 1px solid rgba(255, 255, 255, .3) */
}
.main-nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}
.main-nav li {
    display: inline;
    padding: 0 2.5%
}
.main-nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.msg-container {
    display: grid; 
    grid-template-columns: 1.1fr 0.7fr 1.2fr; 
    grid-template-rows: .5fr 1fr .5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "ToFrom . ."
      "main-message main-message main-message"
      ". . DateTime"; 
  }
  #ratingsFeed, #overallRating{
margin: 5%;
padding:3%
  }
  #messageFeed{
      margin-right: 50%;
      margin-bottom: 5%;
      margin-left: 1%;

    border-radius: 25px;
    background-image: linear-gradient(#8693ab,#bdd4e7);  
}
  .main-message { 
      grid-area: main-message;
      background-color:#B8C6B0;
      border: 1px solid darkgray;
      border-radius: 15px;
      padding: 15px;
     }

     #postFeed{
         margin: 5%;
         margin-right: 1%;
         margin-left: 50%;
         border-radius: 25px;
         padding: 5%;
     }

     .msgName{
         font-size: 35px;
     }
  .ToFrom {
     grid-area: ToFrom;
     text-align: left;
     font-size: 35px;

    }
  .DateTime { 
    grid-area: DateTime;
    text-align: right;
    }

.btn {
    text-align: center;
    vertical-align: middle;
    /* padding: .67em .67em; */
    cursor: pointer;

    /* from old btn-header */
    /* margin: .5em 15% 2em 15%; */
    /* color: white; */
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    /* padding-left: 2em; */
    /* padding-right: 2em; */

}

.checkoutButton:hover{
    background-color: gray;
}

.checkoutButton{
    color: white;
    background-color: #56CCF2;
    width: 90%;
    border-radius: 50px;
    font-size: 40px;
    margin:5%;
    padding: 5%;
}
.section-header {
    text-align: center;
    font-size: 2rem;
}

#cartFeed{
    width: 40%;
    float: right;
    margin-right: 5%;
    background-color: lavender;
}

.sendButton {
    box-sizing: border-box;
    transition: all .5s ease;
    color: #f5f7fa;
    border: 3px solid lightgray;
    font-family:sans-serif;
    
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 40px;
    width: 50%;
    background-color: black;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .sendButton:hover {
    color: #b8c6db;
    background-color: #f5f7fa;
    cursor:pointer;
  }
  #registerForm, #loginForm, #purchaseForm{
    background-image: linear-gradient(#b8c6db,#f5f7fa);
    background-size: 100% auto;
    border-radius: 75px; 
    border: 1px solid black; 
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    color: black;
    font-size: 200%;
    font-weight: 600;
  }
  a {
    font-size: 20px;
    color: black;
    display: block;
    
  }
  a:hover {
    cursor: pointer;
  }
  
  .btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .btn-primary:hover {
    background-color: #2D9CDB;
  }

  #filterFeed{
    width: 45%; 
    font-size: 20px;
    text-align: center;
    float: right;
         background-color: lightgray;
         /* margin-bottom: 30%; */
  }
  .shop-item {
    /* max-height: 400px; */
    background-color: #FFFFEA;
    margin: 5%;
    padding: 5%;
    border-radius: 10%;
    border: 2px solid gray;
}

.shop-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.shop-item-title {
    display: inline-block;
    max-width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 15px;
}

#applyFilters{
    font-size: 20px;
    font-family: monospace;
    background-color: #333;
    color: white;
}

.shop-item-image {
    height: 250px;
    max-width: 90%;
}

.shop-item-details {
    display: block;
    align-items: center;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.feed1 {
    font-size: 1.2rem;
    background-color: #FFFFEA;
    border: 3px solid darkgray;
    border-radius: 3%;
    margin-bottom: 7px;
    padding: 5px;

}
.feedChild1 {
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
}