<!DOCTYPE html>
<html>

<head>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-storage.js"></script>
    <title>Messages</title>
    <meta name="description" content="This is the description">
    <link rel="stylesheet" href="./styles.css" />
    <script src="messages.js" defer></script>
</head>

<body>
    <header class="main-header">
        <nav class="main-nav nav">
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="store">STORE</a></li>
                <li><a href="account.html" id="accountRef">MY ACCOUNT</a></li>
                <li><a href="post.html" id="postRef">NEW POST</a></li>

            </ul>
        </nav>
        <h1 class="band-name band-name-large">SKATE SHOE MATE</h1>
    </header>
    <section class="container content-section">
        <h2 class="section-header">MESSAGES</h2>
      
    </section>
    <section class="container content-section">
        <h2 class="section-header">Message a User</h2>
        <div class="cart-row">
            <label>Enter a Username</label><br>
                    <input type="text" id="userRecieve" onclick="makeClean(document.getElementById('userRecieve'))" name="user_recieve" id ="userRecieve" class="requiredMessageInput"
                        class="requiredRegister"
                        style="width: 50%; height: 35px; border: 1px solid black; margin-top: 2%; color: black;"><br><br>
            <label>Enter a Date</label><br>
                    <input type="text" id="date" onclick="makeClean(document.getElementById('date'))" name="Date" id="date" class="requiredMessageInput"
                        class="requiredRegister"
                        style="width: 50%; height: 35px; border: 1px solid black; margin-top: 2%; color: black;"><br><br>
            <label>Enter a Message</label><br>
                    <input type="text" id="message" onclick="makeClean(document.getElementById('message'))" name="Message" id="message" class="requiredMessageInput"
                        class="requiredRegister"
                        style="width: 50%; height: 35px; border: 1px solid black; margin-top: 2%; color: black;"><br><br>
            <input onclick="messageUser()" class="messageButton" value="Send Message">
            
        </div>
        <div class="cart-items">
            
        </div>
    </section>
</body>

</html>